{% extends "core.html"%}
{% load static %}

{%block css_files %}
  <link rel="stylesheet" href= "/static/post.css"/>
  <link rel="stylesheet" href="/static/full_post.css">

{%endblock%}
{%block core_title%}
{{match.slug}}
{%endblock%}



{%block core_body%}

  <section id="summary">
    <h2>{{match.slug}}</h2>
    <article>
      <img src="{{match.images.url}}" alt="{{match.title}}"/>
      <address> BY <a href = "mailto:{{match.author_post.email}}">{{match.author_post}}</a></address>"
      <div> Updated on <time>{{match.date}}</time> </div>
      </address>
    </article>
  </section>
  <main>
    <p>
      {{match.content}}
      </p>






{%endblock%}